<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ATM</title>
    <link href="/css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <h3 class="header">ATM</h3>
    <p class="mytextarea" th:if="${param.error}">Bad Credentials</p>
    <p class="error" th:text="${error}">Error</p>
    <form class="form" method="POST" th:action="@{/app-login}">
      Card Number: <input class="myinput" name="app_username" type="text"/><br/><br/>
      Card PIN: <input class="myinput" name="app_password" type="password"/><br/><br/>
      <input class = "mysubmit" type="submit" value="Login"/>
    </form>
  </body>
</html>
